body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

header,
footer {
  background-color: rgb(211, 211, 211);
}

.site-title {
  color: blue;
}

#my-image {
  box-shadow: 0 0 2px 1px black;
}

.hobbies {
  list-style-type: square;
}

.hobbies li:nth-child(odd) {
  background-color: purple;
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  background-color: yellow;
  border: 1px solid black;
}

nav a:hover,
nav a:focus {
  background-color:orange ;
}
